<a href="https://colab.research.google.com/github/StetskoSergey/pida5_stetsko/blob/master/final%20ff.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Итоговая работа
=====================

Поздравляю вас, теперь вы вооружены знаниями по предобработке данных, и пора применить их на интересном кейсе.

Представлены данные такси, по которым мы должны предсказать возьмёт ли таксист заказ или нет(driver_response).

Принципы вы знаете, чек-лист аналогичен лабораторной работе.

Чек-лист:
1. Загрузите датасет taxi.csv.
2. Посмотрите на данные. Отобразите общую информацию по признакам (вспомните о describe и info). Напишите в markdown свои наблюдения.
3. Выявите пропуски, а также возможные причины их возникновения. Решите, что следует сделать с ними. Напишите в markdown свои наблюдения.
4. Оцените зависимости переменных между собой. Используйте корреляции. Будет хорошо, если воспользуетесь profile_report. Напишите в markdown свои наблюдения.
5. Определите стратегию преобразования категориальных признаков (т.е. как их сделать адекватными для моделей).
6. Найдите признаки, которые можно разделить на другие, или преобразовать в другой тип данных. Удалите лишние, при необходимости.
7. Разделите выборку на обучаемую и тестовую.
8. Обучите модель. Напишите в markdown свои наблюдения по полученным результатам. Хорошие результаты дают классификаторы RandomForest и XGBoost

Если возникнут затруднения, то смотрите на материал практических занятий. Данного там должно хватить для выполнения всех пунктов. Желаю успеха!

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
import sys
from math import sqrt
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import pandas_profiling
from sklearn import preprocessing

from matplotlib import pyplot as plt

In [5]:
data = pd.read_csv('taxi.csv')
list_c = data.columns
data.head()

   offer_gk  weekday_key  ...  ride_type_desc  driver_response
0   1105373            5  ...         private                0
1    759733            5  ...         private                1
2    416977            6  ...         private                0
3    889660            2  ...         private                1
4   1120055            4  ...         private                1

[5 rows x 14 columns]

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 14 columns):
offer_gk                  100000 non-null int64
weekday_key               100000 non-null int64
hour_key                  100000 non-null int64
driver_gk                 100000 non-null int64
order_gk                  100000 non-null int64
driver_latitude           100000 non-null float64
driver_longitude          100000 non-null float64
origin_order_latitude     100000 non-null float64
origin_order_longitude    100000 non-null float64
distance_km               100000 non-null float64
duration_min              100000 non-null float64
offer_class_group         100000 non-null object
ride_type_desc            100000 non-null object
driver_response           100000 non-null int64
dtypes: float64(6), int64(6), object(2)
memory usage: 10.7+ MB

In [35]:
data.describe()

           offer_gk    weekday_key  ...   duration_min  driver_response
count  1.000000e+05  100000.000000  ...  100000.000000    100000.000000
mean   5.662189e+05       3.159860  ...      23.134841         0.492480
std    3.259360e+05       2.054222  ...      33.890105         0.499946
min    4.000000e+00       0.000000  ...      -1.000000         0.000000
25%    2.855552e+05       1.000000  ...      -1.000000         0.000000
50%    5.656715e+05       3.000000  ...      19.700000         0.000000
75%    8.487198e+05       5.000000  ...      37.867000         1.000000
max    1.130355e+06       6.000000  ...    3958.283000         1.000000

[8 rows x 12 columns]

offer_gk	driver_gk order_gk -колонки которые решаем удалить, так как это ид заказа, водителя и заказчика уникальные

In [0]:
data_t = data.drop(['offer_gk',	'driver_gk', 'order_gk'], axis = 1)

In [8]:
data['ride_type_desc'].unique()

array(['private', 'business', 'affiliate', 'SMB'], dtype=object)

In [9]:
data['offer_class_group'].unique()

array(['Economy', 'Standard', 'XL', 'Kids', 'Delivery', 'Test', 'Premium',
       'VIP', 'VIP+'], dtype=object)

Это категориальные данные которые нужно кодировать

In [46]:
fig = plt.figure(figsize=(14, 14))
ax = fig.gca()

plt.hist(data['weekday_key'])
plt.show()

#data_t.hist()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: RuntimeWarning: More than 20 figures have been opened. Figures created through the pyplot interface (`matplotlib.pyplot.figure`) are retained until explicitly closed and may consume too much memory. (To control this warning, see the rcParam `figure.max_open_warning`).
  """Entry point for launching an IPython kernel.