## Простые типы данных

In [ ]:
my_integer = 10
type(my_integer)

In [ ]:
my_float = 5.5
type(my_float)

In [19]:
my_string = 'Hello World!'
my_string_2 = "Hello World"
type(my_string)

str

In [20]:
my_bool = True
my_bool = False
type(my_bool)

bool

In [18]:
x = 5
y = 1
print(type(x > y))

<class 'bool'>

In [16]:
# преобразование типов
salary = 1000
print('Ваша годовая зарплата составляет ' + salary + ' условных единиц')

TypeError: can only concatenate str (not "int") to str

In [17]:
print('Ваша годовая зарплата составляет ' + str(salary) + ' условных единиц')

Ваша годовая зарплата составляет 1000 условных единиц

In [24]:
# неявное преобразование типов
print(1 + True)
print(20 / 5.1)
print(5+False)

2
3.9215686274509807
5

### Строки

In [ ]:
my_string.upper()

In [ ]:
my_string.lower()

In [ ]:
my_string.capitalize()

In [3]:
my_string.replace('Hello', 'Goodbye')

'Goodbye World!'

In [4]:
len(my_string)

12

In [6]:
# индексация и срезы
my_string = 'Hello World'

In [7]:
my_string[2]

'l'

In [8]:
my_string[-4]

'o'

In [9]:
my_string[0:5]

'Hello'

In [10]:
my_string[0:8:2]

'HloW'

In [11]:
my_string[6:]

'World'

In [12]:
my_string[:5]

'Hello'

In [13]:
my_string[::-1]

'dlroW olleH'

In [14]:
# проверка на вхождение элемента в объект при помощи in (есть обратная операция not in)
target_string = 'Wo'
if target_string in my_string:
    print('find!')

find!

In [15]:
# f-строки
name = 'oleg'
f"Hello, {name.capitalize()}"

'Hello, Oleg'

## Списки

In [ ]:
month_list = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep']
income_list = [13000, 14000, 14300, 15000, 13800, 13000, 14900, 15200, 15300]
income_by_months = [['Jan', 13000], ['Feb', 14000], ['Mar', 14300], ['Apr', 15000], ['May', 13800], ['Jun', 13000], ['Jul', 14900], ['Aug', 15200], ['Sep', 15300]]

In [ ]:
print(type(month_list))
print(type(income_list))
print(type(income_by_months))

In [ ]:
# индексация элементов в списке
print(month_list[0])
print(month_list[-1])
print(income_by_months[-4])

In [ ]:
# срезы
print(income_by_months[0:2])
print('--------------')
print(income_by_months[-8:-6])
print('--------------')
print(income_by_months[2:])
print('--------------')
print(income_by_months[:3])

In [ ]:
# можно обращаться к любому уровню вложенности
income_by_months[0][0]

In [ ]:
# изменение списков
income_by_months[0][1] = 13100
print(income_by_months)

In [ ]:
income_by_months[0:2] = [['Jan', 13200], ['Feb', 13900]]
print(income_by_months)

In [ ]:
income_by_months_2 = [['Nov', 15400], ['Dec', 17000]]
income_by_month = income_by_months + income_by_months_2
print(income_by_month)

In [ ]:
# сумма элементов
sum(income_list)

In [ ]:
# сортировка по возрастанию
sorted(income_list)

In [ ]:
# изменить порядок сортировки
sorted(income_list, reverse = True)

In [ ]:
# а это сортировка строк по алфавиту
sorted(month_list)

### Распаковка списков

In [ ]:
first, second, third = ['первый', 'второй', 'третий']
second

In [ ]:
# когда число элементов неизвестно
first, *other = ['первый', 'второй', 'третий']
first, other

In [ ]:
first, *_, last =  ['первый', 'второй', 'третий', 'четвертый']

In [ ]:
first, last

### Операции со списками

In [ ]:
# Удаляем элемент по индексу
del(income_by_months[-1])
income_by_months

In [ ]:
# удаляем элемент по значению
month_list.remove('Jan')
print(month_list)

In [ ]:
# добавляем элемент в конец списка
income_by_months.append(['Dec', 17000])
income_by_months

In [ ]:
# добавляем элемент по нужному индексу
income_list.insert(2, 1111111)
print(income_list)

In [ ]:
# считаем количество вхождений элемента в список
income_list.count(13000)

In [ ]:
# узнаем индекс элемента в списка (только первое вхождение!)
income_list.index(13000)

In [ ]:
# разворачиваем список
month_list.reverse()

In [ ]:
# узнаем длину списка
len(income_list)

## Списки и строки

In [ ]:
queries_string = "смотреть сериалы онлайн,новости спорта,афиша кино,курс доллара,сериалы этим летом,курс по питону,сериалы про спорт"

In [ ]:
# преобразование строки в список (например, из CSV-файла)
queries_string.split(',')

In [ ]:
# Преобразование списка в строку

','.join(['Столбец 1', 'Столбец 2', 'Столбец 3'])

In [ ]:
# проверка вхождения элемента в список:

'Москва' in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']
'Москва' not in ['Ленинград', 'Одесса', 'Севастополь', 'Москва']

## Tuple (кортежы)

In [ ]:
salary_tuple = (1000, 1200, 1300, 900, 800)
type(salary_tuple)

In [ ]:
print(salary_tuple[0])
salary_tuple[0] = 500

In [ ]:
# кортеж из одного элемента задается так:
t = ('one', )

In [ ]:
# без запятой получится строка
type( ('one') )

In [25]:
# функция zip
salaries = [1000, 1200, 1300, 900, 800, 1000]
names = ['Robert', 'Jane', 'Liza', 'Richard', 'John']
salaries_by_names = zip(names, salaries)
print(salaries_by_names)
# print(list(salaries_by_names))

<zip object at 0x0000012AEB572AC8>

## Множества (set)
Набор неповторяющихся элементов в случайном порядке

In [ ]:
data_scientist_skills = set(['Python', 'R', 'SQL', 'Tableau', 'SAS', 'Git'])
data_engineer_skills = set(['Python', 'Java', 'Scala', 'Git', 'SQL', 'Hadoop'])

In [ ]:
# логическое ИЛИ – что нужно знать data-scientst, который по совместительству data-engineer
print(data_scientist_skills.union(data_engineer_skills))
print(data_scientist_skills | data_engineer_skills)

In [ ]:
# логическое И – что нужно знать и data-scientst и data-engineer
print(data_scientist_skills.intersection(data_engineer_skills))
print(data_scientist_skills & data_engineer_skills)

In [ ]:
# разность множеств – что знает data-scientist, но не знает data-engineer (и наоборот)
print(data_scientist_skills.difference(data_engineer_skills))
print(data_scientist_skills - data_engineer_skills)
print(data_engineer_skills.difference(data_scientist_skills))
print(data_engineer_skills - data_scientist_skills)

In [ ]:
# симметричная разность множеств – что такого знают data-scientist и data-engineer, чего не знают они оба
print(data_scientist_skills.symmetric_difference(data_engineer_skills))
print(data_scientist_skills ^ data_engineer_skills)
print(data_engineer_skills.symmetric_difference(data_scientist_skills))
print(data_engineer_skills ^ data_scientist_skills)

## Словари

In [ ]:
staff_salary = {'Robert': 800, 
                'Jane': 200, 
                'Liza': 1300, 
                'Richard': 800, 
                'Tom': 1100, 
                'Bob': 1300}

In [ ]:
# обращение к элементу словаря
staff_salary['Jane']

In [ ]:
# добавляем элемент в словарь
staff_salary['Rayan'] = 2000
staff_salary

In [ ]:
staff_dict = {
    'Robert': {'salary': 800, 'bonus': 200}, 
    'Jane': {'salary': 200, 'bonus': 300}, 
    'Liza': {'salary': 1300, 'bonus': 200}, 
    'Richard': {'salary': 500, 'bonus': 1200}
}

In [ ]:
staff_dict['Robert']['bonus']

In [ ]:
# удаляем элемент из словаря
del(staff_salary['Liza'])
staff_salary

In [ ]:
staff_dict['Oleg']

In [ ]:
# безопасно получаем значение по ключу
staff_dict.get('Oleg', 'Not Found')
staff_dict.get('Robert', 'Not Found')

In [ ]:
# получаем только ключи/значения из словаря (очень пригодиться в циклах)
print(staff_salary.keys())
print(staff_salary.values())
print(staff_salary.items())

## Циклы

### Цикл while

In [ ]:
x = 5
while x != 0:
    print(x)
    x = x - 1
#     x -= 1

In [ ]:
x = 7
while x != 0:
    if x % 2 == 0:
        print(x, '- четное число')
        x = x - 1
    else:
        print(x, '- нечетное число')
        x = x - 1

### Цикл for

In [ ]:
# итерация по строкам
company_name = 'Orange'
for letter in company_name:
    letter = letter.capitalize()
    print(letter)

In [26]:
# итерация по строкам
companies_capitalization = [
 ['Orange', 1.3],
 ['Maxisoft', 1.5],
 ['Headbook', 0.8],
 ['Nicola', 2.2]
]
for company in companies_capitalization:
    print(company[0], 'capitalization is', company[1])

Orange capitalization is 1.3
Maxisoft capitalization is 1.5
Headbook capitalization is 0.8
Nicola capitalization is 2.2

In [29]:
countries_temperature = [
 ['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
 ['Germany', [57.2, 55.4, 59, 59, 53.6, 55.4, 57.2]],
 ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
 ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4, 51.8]],
]

In [30]:
for country in countries_temperature:
    average_temp = 0
    for temperature in country[1]:
        average_temp += (temperature - 32) * 5 / 9
    print(round(average_temp/len(country[1]), 2))

23.86
13.71
3.71
11.86

In [ ]:
# итерация по словарям
# так бы было без цикла
salaries = {
    'John': 1200,
    'Mary': 500,
    'Steven': 1000,
    'Liza': 1500
}
print("John's salary:", salaries['John'])
print("Mary's salary:", salaries['John'])
print("Steven's salary:", salaries['John'])
print("Liza's salary:", salaries['John'])

In [ ]:
# используем цикл
for person, salary in salaries.items():
    print(person, "'s salary: ", salary, sep='')

In [ ]:
# добавим уровень з/п
for person in salaries:
    status = ''
    if salaries[person] > 1000:
        status = 'above average'
    else:
        status = 'below average'
    print(person, "'s salary: ", salaries[person], ' (', status, ')', sep='')

In [ ]:
# добавим нумерацию
for index, person in enumerate(salaries):
    status = ''
    if salaries[person] > 1000:
        status = 'above average'
    else:
        status = 'below average'
    print(index + 1, '. ', person, "'s salary: ", salaries[person], ' (', status, ')', sep='')

## break, pass, continue

In [ ]:
phrase = '640Кб должно хватить для любых задач. Билл Гейтс (по легенде)'

In [ ]:
for letter in phrase:
    if letter == ' ':
        break
    print(letter)
print('finish loop')

In [ ]:
for letter in phrase:
    if letter == ' ':
        continue
    print(letter)
print('finish loop')

In [ ]:
for letter in phrase:
    if letter == ' ':
        pass
    print(letter)
print('finish loop')

### Функция range

In [31]:
range(10)

range(0, 10)

In [32]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
for i in range(10):
    print(i)

In [ ]:
# с указанием левой и правой границы
for i in range(3, 20):
    print(i)

In [ ]:
# третий аргумент - шаг
for i in range(3, 20, 5):
    print(i)

### Практика

In [33]:
cook_book = {
  'салат': [
     {'ingridient_name': 'сыр', 'quantity': 50, 'measure': 'гр'},
     {'ingridient_name': 'томаты', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'огурцы', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'маслины', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'оливковое масло', 'quantity': 20, 'measure': 'мл'},
     {'ingridient_name': 'салат', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'перец', 'quantity': 20, 'measure': 'гр'}
    ],
  'пицца': [
     {'ingridient_name': 'сыр', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'колбаса', 'quantity': 30, 'measure': 'гр'},
     {'ingridient_name': 'бекон', 'quantity': 30, 'measure': 'гр'},
     {'ingridient_name': 'оливки', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'томаты', 'quantity': 20, 'measure': 'гр'},
     {'ingridient_name': 'тесто', 'quantity': 100, 'measure': 'гр'},   
    ],
  'лимонад': [
     {'ingridient_name': 'лимон', 'quantity': 1, 'measure': 'шт'},
     {'ingridient_name': 'вода', 'quantity': 200, 'measure': 'мл'},
     {'ingridient_name': 'сахар', 'quantity': 10, 'measure': 'гр'},
     {'ingridient_name': 'лайм', 'quantity': 20, 'measure': 'гр'},    
    ]
}

In [34]:
person_count = 3
shop_list = {}
for dish in cook_book:
    for ingridient in cook_book[dish]:
        new_shop_list_item = dict(ingridient)
        new_shop_list_item['quantity'] = ingridient['quantity'] * person_count
        if new_shop_list_item['ingridient_name'] not in shop_list:
            shop_list[new_shop_list_item['ingridient_name']] = new_shop_list_item
        else:
            shop_list[new_shop_list_item['ingridient_name']]['quantity'] += new_shop_list_item['quantity']
shop_list

{'сыр': {'ingridient_name': 'сыр', 'quantity': 210, 'measure': 'гр'},
 'томаты': {'ingridient_name': 'томаты', 'quantity': 120, 'measure': 'гр'},
 'огурцы': {'ingridient_name': 'огурцы', 'quantity': 60, 'measure': 'гр'},
 'маслины': {'ingridient_name': 'маслины', 'quantity': 30, 'measure': 'гр'},
 'оливковое масло': {'ingridient_name': 'оливковое масло',
  'quantity': 60,
  'measure': 'мл'},
 'салат': {'ingridient_name': 'салат', 'quantity': 30, 'measure': 'гр'},
 'перец': {'ingridient_name': 'перец', 'quantity': 60, 'measure': 'гр'},
 'колбаса': {'ingridient_name': 'колбаса', 'quantity': 90, 'measure': 'гр'},
 'бекон': {'ingridient_name': 'бекон', 'quantity': 90, 'measure': 'гр'},
 'оливки': {'ingridient_name': 'оливки', 'quantity': 30, 'measure': 'гр'},
 'тесто': {'ingridient_name': 'тесто', 'quantity': 300, 'measure': 'гр'},
 'лимон': {'ingridient_name': 'лимон', 'quantity': 3, 'measure': 'шт'},
 'вода': {'ingridient_name': 'вода', 'quantity': 600, 'measure': 'мл'},
 'сахар': {'ingridient_name': 'сахар', 'quantity': 30, 'measure': 'гр'},
 'лайм': {'ingridient_name': 'лайм', 'quantity': 60, 'measure': 'гр'}}

In [35]:
for shop_list_item in shop_list.values():
    print(f'{shop_list_item["ingridient_name"]}, {shop_list_item["quantity"]}{shop_list_item["measure"]}')

сыр, 210гр
томаты, 120гр
огурцы, 60гр
маслины, 30гр
оливковое масло, 60мл
салат, 30гр
перец, 60гр
колбаса, 90гр
бекон, 90гр
оливки, 30гр
тесто, 300гр
лимон, 3шт
вода, 600мл
сахар, 30гр
лайм, 60гр

In [46]:
[i for i in list(v) for v in cook_book.values()]

NameError: name 'v' is not defined