In [24]:
import pandas as pd

tt = pd.read_csv('obr.csv', sep = ';')
tt['date'] = pd.to_datetime(tt.date, format='%d.%m.%Y')

In [38]:
import re

#re.sub("^\s+|\n|\r|\s+$", '', mystr)

def pars_am(row):
    prom = re.sub("^\s+|\n|\xa0|\r|\s+$", '', row.amount)
    prom = re.sub(",", '.', prom)
    return float(prom)
tt['amount'] = tt.apply(pars_am, axis=1)

In [40]:
tt.to_csv('obr.csv')

In [41]:
tt = pd.read_csv('obr.csv')

In [42]:
tt.head()

,Unnamed: 0,date,amount,Region_name,Region,Otdel,Client_name,Client,Nomenclatura,Character,Key
0,0,2016-03-29,16.0,Волгоград Основное подразделение,fb910ff4-1d65-11e0-4590-00304832e47c,ЛКМ,КамневЪ ООО,780b23e6-4374-11e6-bf9a-ac220b13dbbb,NaN,NaN,00000000-0000-0000-0000-000000000000-00000000-...
1,1,2016-04-13,16.0,Ярославль-Обособленное подразделение,695607e6-1e11-11e0-4590-00304832e47c,ЛКМ,ИП Семянников Денис Владимирович,acb1e635-4372-11e6-bf9a-ac220b13dbbb,NaN,NaN,00000000-0000-0000-0000-000000000000-00000000-...
2,2,2016-06-01,250.0,Санкт-Петербург - Основное подразделение,3a51508a-1d59-11e0-4590-00304832e47c,ЛКМ,Промышленная химия 2015,acb1e64d-4372-11e6-bf9a-ac220b13dbbb,NaN,NaN,00000000-0000-0000-0000-000000000000-00000000-...
3,3,2016-10-25,57.0,Санкт-Петербург - Основное подразделение,3a51508a-1d59-11e0-4590-00304832e47c,ЛКМ,Химтрэйд,550c1581-4374-11e6-bf9a-ac220b13dbbb,NaN,NaN,00000000-0000-0000-0000-000000000000-00000000-...
4,4,2018-11-30,1.0,Москва-Основное подразделение,620b25a5-4d4b-11df-b8a3-00304832e47c,Управление,МЕНДЕЛЕЕВ ТРАНС,e7e9bf15-4370-11e6-bf9a-ac220b13dbbb,Аренда транспортного средства,NaN,783b66aa-44d3-11e0-0b9b-00304832e47c-00000000-...